.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .container {
        position: relative;
    }

    &__slide img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    &_prev, &_next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;

        img {
            width: 31px;
            height: 50px;
        }
    }
    
    &_next {
        left: auto;
        right: -66px;
    }

    .tns-nav {
        text-align: center;
    }

    .tns-nav button {
        width: 8px;
        height: 8px;
        margin-right: 5px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: $title_color;
        transition: all .25s;
    }

    .tns-nav .tns-nav-active {
        background-color: $second_color;
    }
}
