.catalog {
    padding-bottom: 100px;

    &__tabs {
        margin: 0;
        padding: 0;
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tab {
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: .5s all;

        &:hover {
            box-shadow: 3px 3px 20px rgba(0, 0, 0, .25);
            border-color: #d0d0d000;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            color: #fff;
            background-color: $second_color;
        }
    }

    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;

        &_active {
            display: flex;
        }
    }

    &-item {
        position: relative;
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        overflow: hidden;

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #0D0D0D;
        }

        &__descr {
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }

        &__link {
            display: block;
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            text-decoration: uppercase;
            color: $second_color;

            &:hover {
                color: $second_color;
            }
        }

        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            background: #E8E8E8;
            border-bottom: none; //hr создаеться с помощью border
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__oldprice {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0;
            padding-right: 20px;
            transform: translateX(-100%);
            transition: .5s all;

            &_active {
                transform: translateX(0);
                margin-right: 26px;
                padding-right: 0;
            }
        }

        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0);
            transition: .5s all;
            padding-right: 19px;
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }

            li {
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 10px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $second_color;
                    top: 8px;
                    left: -14px;
                }
            }
        }

        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $second_color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-decoration: uppercase;

            &:hover {
                color: $second_color;
            }
        }
    }
}