@font-face {
    font-family: MuseoModerno;
    src: url(../fonts/MuseoModerno-Regular.woff2) format('woff2');
    src: url(../fonts/MuseoModerno-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MuseoModerno;
    src: url(../fonts/MuseoModerno-Medium.woff2) format('woff2');
    src: url(../fonts/MuseoModerno-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: MuseoModerno;
    src: url(../fonts/MuseoModerno-Bold.woff2) format('woff2');
    src: url(../fonts/MuseoModerno-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}